@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
.Matching{
padding: 20px;
display: flex;
align-items:stretch;
flex-direction: column;
align-content:space-around;
max-width: 900px;
margin: 0 auto;
border-bottom: 1px solid #f2f2f2;
}

.matchinghome h1 {
display:flex;
justify-content:left;
flex-direction: column;
}   

 .matchinghome h2 {
  display:flex;
  justify-content:center;
  margin-top: 20px;
  
  
  }   

