@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(197, 146, 79);
}
.Matching{
padding: 20px;
display: flex;
align-items:stretch;
flex-direction: column;
align-content:space-around;
max-width: 900px;
margin: 0 auto;
border-bottom: 1px solid #f2f2f2;
}

.Matching h1 {
display:flex;
justify-content:left;
flex-direction: column;
}   

 .Matching h2 {
  display:flex;
  justify-content:center;
  margin-top: 20px;
  
  
  }   

  .UserInfo {
    display:flex;
    justify-content:center;
    margin-top: 10px;
    margin-right: 300px;
    
    }   

      .userpic {
      display:flex;
      justify-content:center;
      margin-top: 5px;

      }   

.buttonsyesno {
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction:row;
  margin-top: 20px;

}
   



img{
  height: 300px;
}